version: '3'

services:
  web:
    build: .
    restart: always
    expose:
      - "5000"
    ports:
      - "5000:5000"
    volumes:
      - ./server:/server
    env_file:
      - ./server/.env
    command: flask run

  nodejs:
    image: node:12.14.1
    tty: true
    expose:
      - "3000"
    ports:
      - "3000:3000"
    volumes:
      - ./client:/client
    command: bash -c "cd client/omnilytics && yarn start"